.active-item{
    border-left: 8px solid var(--ion-color-primary);
}

.topIcon{
    margin-top: 5px;
    font-size: 50px;
}

.myPages {
    font-weight: 900;
    margin-left: 30px;
    font-size: 20px;
}
.menu1 {
    margin-top: 20px;
    margin-bottom: 10px;
}