.active-item{
    border-left: 8px solid var(--ion-color-primary);
}

.topIcon{
    margin-top: 5px;
    font-size: 50px;
}

.myPages {
    font-weight: 200;
    margin-left: 10px;
    font-size: 25px;
}
.menu1 {
    margin-top: 20px;
    margin-bottom: 0px;
}