// Toolbar

#topIcon {
  position: absolute;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  left: 0;
  top:-2px;
  text-align:center;
}
dt:nth-child(1) {
  margin-top: 70px;
}

// Body

ion-content{
  --ion-background-color:#e0e0e0;
}

// List

ul {
  height: 90%;
  position: absolute;
  width: 100%;
  right: 0px;
  list-style-type: none;
}
dt:nth-last-child(1) {
  margin-bottom: 70px;
}

// List elements

div{
  // font-family: "Times New Roman", Times, serif;
  font-family: "Arial Black", Gadget, sans-serif;
  text-transform: uppercase ;
  font-weight: 900;
}
#container {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 90%;
    left: 5%;
    border-radius: 25px;
    border: 4px solid #e0e0e0;
  }
#name {
  position: absolute;
  height: 30px;
  width: 80%;
  left: 10%;
  text-align: center;
}
#time{
  position: absolute;
  top: 20px;
  width: 50%;
  left: 0px;
  font-size: 40px;
  text-align: center;
}
#buttons{
  position: absolute;
  top: 35px;
  width: 55%;
  height: 45px;
  left: 45%;
}


